body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.app {
  display: flex;

}

.sectioncontainer {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}


/* For small width screens */
@media only screen and (max-width: 640px) {
  .sectioncontainer {
      padding: 100px 0;
  }
}